:root {
  --to-text-primary :#444851;
  --to-background-grey: #f0f0f0;
  --to-lightgrey: #c7cdd1;
  --to-primary-blue: #47adf1;
  --to-primary-violet: #9c72e4;
  --to-primary-pink: #d863a0;
  --to-primary-red: #eb5952;
  --to-ptimary-orange: #f29e33;
  --to-primary-green: #6dc4af;
  --to-lightgreen: #b0c926;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/*Start header*/
.site_header {
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

/*End header*/


/*Start main*/
.background {
  width: 100%;
  height: 800px;
  background-color: var(--to-background-grey);
  padding: 40px 168px 0 168px;
}

.container {
  width: 100%;
  height: 700px;
  background-color: white;
}

.actions {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-top: 8px;
}

.add {
  width: auto;
  height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 4px;
  border-radius: 4px;
}

.add.task{
  color: white;
  background-color: var(--to-primary-blue);
  border: 0;
}

.add.selection {
  color: var(--to-lightgrey);
  background-color: white;
  border-color: var(--to-lightgrey);
  border-style:solid;
}

hr {
  border: 1px solid var(--to-background-grey);
}

.container_tasks {
  padding-left: 50px;
}

.task_name {
  padding-top: 40px;
  font-size: 16px;
  font-weight: bold;
  color: var(--to-text-primary);
}

.items {
  padding-top: 24px;
}

.icon {
  font-size: 10px;
  font-weight:bolder;
  border: 2px solid;
  border-radius: 50%;
  padding: 4px 6px ;
}

.icon.check {
  color: var(--to-primary-green);
}

.icon.croce {
  color: var(--to-primary-red);
}

.text {
  padding-left: 8px;
  padding-right: 8px;
}

.chips {
  font-size: 14px;
  color: white;
  padding: 8px 10px;
  border-radius: 16px;
}

.chips.blue {
  background-color: var(--to-primary-blue);
}

.chips.violet {
  background-color: var(--to-primary-violet);
}

.chips.green {
  background-color: var(--to-primary-green);
}

.chips.orange {
  background-color: var(--to-ptimary-orange);
}

.chips.pink {
  background-color: var(--to-primary-pink);
}

.chips.lightgreen {
  background-color: var(--to-lightgreen);
}
/*End main*/